page-home {
  .headerImg {
    width: 100%;
  }

  .item-flag {
    width: 32px;
    height: 24px;
  }

  .item-name {
    margin-left: 10px;
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
